@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body{
  font-family: "Rubik", sans-serif;
  width: 100vw;
  height: 100vh;  
  display: flex;
  justify-content: center;
  background-color: #ccc;
}

.f-c{
  color: #2fa38c;
}
.f-c-b{
  color: blue;
}
.f-b{
  border: 1px solid #2fa38c;
}
.f-b-b{
  border-bottom: 2px solid #2fa38c;
}

.bg-f-c{
  background-color: #2fa38c;
}